{
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true, // semi quer dizer semi colon, ou seja, ponto e vírgula
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always"
  }